---
layout: standard
title: My Projects
---

<h1><strong>{{ page.title }}</strong></h1>

<p>
<h3><strong>PythonChess - <a href="viewer/pythonchess.html">Link</a></strong></h3>
<div align="left">
    <img src="https://img.shields.io/github/repo-size/SirTarragon/PythonChess" alt="Repository Size">
    <img src="https://img.shields.io/github/languages/top/SirTarragon/PythonChess" alt="Top Language">
    <img src="https://img.shields.io/github/license/SirTarragon/PythonChess" alt="License type">
</div>

<br>
{% include_relative blurbs/pythonchess.md %}
</p>
<h2><strong>Repositories</strong></h2>
<p>Latest GitHub repositories that I've built and committed to:</p>
{% include repos.html %}