---
layout: standard
title: My Projects
---

<h1><strong>{{ page.title }}</strong></h1>

<div>
<h3><strong>PythonChess - <a href="viewer/pythonchess.html">Link</a></strong></h3>
<div align="left">
    <img src="https://img.shields.io/github/repo-size/SirTarragon/PythonChess" alt="Repository Size">
    <img src="https://img.shields.io/github/languages/top/SirTarragon/PythonChess" alt="Top Language">
    <img src="https://img.shields.io/github/license/SirTarragon/PythonChess" alt="License type">
</div>

{% include_relative blurbs/pythonchess.md %}
</div>

<div>
<h3><strong>Tasker - <a href="viewer/tasker.html">Link</a></strong></h3>
<div align="left">
    <img src="https://img.shields.io/github/repo-size/SirTarragon/Tasker" alt="Repository Size">
    <img src="https://img.shields.io/github/languages/top/SirTarragon/Tasker" alt="Top Language">
    <img src="https://img.shields.io/github/license/SirTarragon/Tasker" alt="License type">
</div>

{% include_relative blurbs/tasker.md %}
</div>

<h2><strong>Repositories</strong></h2>
<p>Latest GitHub repositories that I've built and committed to:</p>
{% include repos.html %}