<footer>
    <div class="hero-foot">
        <div class="container">
            <div class="tabs is-centered">
                <ul>
                    <li>
                    <a class="navbar-item is-tab" href="https://www.linkedin.com/in/tylerpease1/">
                        <img alt="LinkedIn" 
                        src="https://img.shields.io/badge/-Tyler%20Pease-0077B5?style=flat&logo=linkedin&logoColor=white&link=https://www.linkedin.com/in/tylerpease1/">
                    </a>
                    </li>
                    <li>
                    <a class="navbar-item is-tab" href="https://twitter.com/sirtarragon">
                        <img alt="Twitter" 
                        src="http://img.shields.io/badge/-@SirTarragon-1DA1F2?style=flat&logo=twitter&logoColor=white&link=https://twitter.com/sirtarragon">
                    </a>
                    </li>
                    <li>
                    <a class="navbar-item is-tab" href="https://instagram.com/sirtarragon">
                        <img alt="Instagram" 
                        src="https://img.shields.io/badge/-E4405F?style=flat&logo=instagram&logoColor=white&link=https://instagram.com/sirtarragon ">
                    </a>
                    </li>
                    <li>
                    <a class="navbar-item is-tab" href="https://dev.to/sirtarragon">
                        <img alt="Dev.to" 
                        src="https://img.shields.io/badge/-0A0A0A?style=flat&logo=dev.to&logoColor=white&link=https://dev.to/sirtarragon">
                    </a>
                    </li>
                    <li>
                    <a class="navbar-item is-tab" href="https://stackoverflow.com/users/11111349">
                        <img alt="StackOverflow" 
                        src="https://img.shields.io/badge/-orange?style=flat&logo=stackoverflow&logoColor=white&link=https://stackoverflow.com/users/11111349">
                    </a>
                    </li>
                    <li>
                    <a class="navbar-item is-tab" href="https://github.com/sirtarragon/?tab=follow">
                        <img alt="GitHub" 
                        src="https://img.shields.io/badge/-Follow?style=flat&logo=github&logoColor=white&link=https://github.com/sirtarragon">
                    </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
