<nav class="navbar has-shadow" role="navigation" style="background-color:#F4F5FF;" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <span class="navbar-item">
                <a href="/"><img src="/assets/images/logo.ico"
                height="40" width="32"/></a>
                <span class="navbar-item"><b>Tyler Pease</b></span>
            </span>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-end">
                    {% if page.url != '/' %}
                    <a class="navbar-item is-tab" href="/"><b>Home ›</b></a>
                    {% endif %}
                    <!--<a class="navbar-item is-tab" href="/about"><b>About ›</b></a> -->
                    <a class="navbar-item is-tab" href="/projects"><b>Projects ›</b></a>
                    <a class="navbar-item is-tab" href="/cv"><b>CV ›</b></a>
                    <a class="navbar-item is-tab" href="/blog"><b>Blog ›</b></a>
                </div>
            </div>
        </div>
    </div>
</nav>